body {
    background-color:#52A2D9 ;
    line-height: 1;
   font-family:Verdana;
    color: #fefefe;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
}

div.container {
   text-align:center;
   width:630px;
   margin-right:auto;
   margin-left:auto;
}

.hide { display:none;
}

ul {
    float: left;
     background-color:#fefefe;
     padding:0;
     padding-left:5px;
     padding-top:5px;    
}

h1 {
    padding: 5px;
    font-size: 1.2em;
    
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
}

h2 {
    padding: 5x;
    font-size: 0.9em; 
     letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
}

ul li {
    float: left;
    margin:0 5px 15px 0;
    list-style: none;
}

ul li a
{  
    border: none;
    display: block;
    width: 120px;
    height: 140px;
}


   

